h1 {
  font-size:1.2em;
  text-align: center;
  color:#333;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  z-index: 314159;
  pointer-events: none;
}
.map-container {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
}
.map-frame {
  border: 1px solid #ccc;
  height: 100%;
}
#map {
  height: 100%;
  position:relative
}
