<div id="tipsContainer">
  <mat-card id="tipsCard">
    <mat-card-header>
        <mat-card-title>Tips</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        &nbsp;
      <p>
        Static electricity occurs usually when the air humidity is low.

      <p>
        <h4>Humidity zap chance:</h4>
        <ul>
          <li> 0 - 20%: high zap chance</li>
          <li>20 - 30%: reasanoble zap chance</li>
          <li>30 - 40%: small zap chance</li>
          <li>40 - 100%: your safe</li>
        </ul>
      <p>
      <h4>Tips to prevent zapping your cat:</h4>
      <ul>
        <li>Put a bowl of water on your heater</li>
        <li>Buy a humidifier</li>
      </ul>

    </mat-card-content>
  </mat-card>
</div>
