<div id="tipsContainer">
  <mat-card id="tipsCard">
    <mat-card-header>
        <mat-card-title>Tips</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        &nbsp;
      <p>
        Static electricity usually occurs when the air humidity is low.
        Dry and overheated environments build up static, and combing or petting
        your cat adds the electrical charge.
      <p>
        <h4>Humidity zap chance:</h4>
        <ul>
          <li> 0 - 20%: very high zap chance</li>
          <li>20 - 30%: high zap chance</li>
          <li>30 - 40%: reasonable zap chance</li>
          <li>40 - 50%: small zap chance</li>
          <li>50 - 100%: you should be safe</li>
        </ul>
      <p>
      <h4>Tips to prevent zapping your cat:</h4>
      <ul>
        <li>Put a bowl of water on your heater</li>
        <li>Buy a humidifier</li>
        <li>Rub the cat's entire coat with a nylon stocking</li>
        <li>Add moisture to your cat's fur before combing or petting</li>
        <li>Do not use plastic combs, metal is better</li>
        <li>Ground yourself and/or your cat by touching f.e. your heating system</li>
        <li>Avoid wearing woolen clothes, wear cotton</li>
        <li>Wear leather-soled shoes, not rubber-soled ones</li>
      </ul>

    </mat-card-content>
  </mat-card>
</div>
