/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~leaflet/dist/leaflet.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow:hidden}

.main-menu-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
  height:65px
}

#app-container {
  padding: 12px;
  background-image: url(app/assets/images/Bliksem.png);
  background-size: cover;
  height: 100%;
  overflow:hidden
}

.meterArea {
  width: min-content;
  margin: auto;
  opacity:0.8;
}
